
<div>
    <table class="table">
        <thead>Progress bar test</thead>
        <tbody style="padding-top: 50px">
            <tr>
                <td colspan="2" style="height: 40px; background-color:aliceblue">
                    <div class="progress">
                        <div [style.width.%]="percent" class="progress-bar" role="progressbar"></div>
                    </div>
                </td>
            </tr>
            <tr >
                <td style="display: flex; align-items: center;">
                    <input #file type="file" style="display: none" (change)="onFileChange($event)" accept="image/*">
                    <button class="btn btn-success" type="button" (click)="file.click()">Загрузить файл</button>
                    <span style="padding-left: 20px;" class="upload">{{ selectedFile?.name || 'Файл не выбран' }}</span>
                    <span *ngIf="selectedFile?.size" style="padding-left: 20px;" class="upload">{{ selectedFile?.size }} bytes</span>
                    <span style="padding-left: 20px;" class="upload">{{ selectedFile?.type }}</span>
                </td>
                
           <!--      <td>
                    <button class="btn btn-primary" (click)="startProgress()">Start</button>
                </td>
                <td>
                    <button class="btn btn-primary" (click)="stpoProgress()">Stop</button>
                </td>
                <td>
                    <button class="btn btn-primary" (click)="continue()">Continue</button>
                </td> -->
            </tr>
        </tbody>
    </table>
</div>

